nav{
    background-color: #303030;
    color: white;
    padding: 10px;
    text-align: center;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-items{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
}